// Package model enthält die Go-Structs für Messages
package model

// {{ .StructName }} repräsentiert das Payload-Schema für Channel {{ .ChannelName }}
type {{ .StructName }} struct {
    // TODO: Felder aus Spec hier einfügen
    // Beispiel:
    // ID   string `json:"id"`
    // Data string `json:"data"`
}
