{{ upper ( snakecase .ModuleName ) }}_PORTNB={{.Port}}
{{ upper ( snakecase .ModuleName ) }}_API_KEYS=
{{ upper ( snakecase .ModuleName ) }}_POLICY=
{{ upper ( snakecase .ModuleName ) }}_OPA_SRV=
{{ upper ( snakecase .ModuleName ) }}_REALM=
{{ upper ( snakecase .ModuleName ) }}_CERT_PEM=
{{ upper ( snakecase .ModuleName ) }}_KEY_PEM=
{{ upper ( snakecase .ModuleName ) }}_STAFF_USER=
{{ upper ( snakecase .ModuleName ) }}_STAFF_PASSWORD=
{{ upper ( snakecase .ModuleName ) }}_PARTICIPANT_USER=
{{ upper ( snakecase .ModuleName ) }}_PARTICIPANT_PASSWORD=
{{ upper ( snakecase .ModuleName ) }}_LOGFILE=
{{ upper ( snakecase .ModuleName ) }}_LOKI_SERVER=
{{ upper ( snakecase .ModuleName ) }}_LOKI_USER=
{{ upper ( snakecase .ModuleName ) }}_LOKI_PASSWORD=
{{ upper ( snakecase .ModuleName ) }}_LOKI_KEY=
{{ upper ( snakecase .ModuleName ) }}_LOKI_LABELS=
{{ upper ( snakecase .ModuleName ) }}_BUFFERSIZE=
{{ upper ( snakecase .ModuleName ) }}_MAX_DELAY=
