{{ upper .ModuleName }}_PORT={{.Port}}
{{ upper .ModuleName }}_API_KEYS=
{{ upper .ModuleName }}_POLICY=
{{ upper .ModuleName }}_OPA_SRV=
{{ upper .ModuleName }}_REALM=
{{ upper .ModuleName }}_CERT_PEM=
{{ upper .ModuleName }}_KEY_PEM=