{{ lcfirst ( camelcase .ModuleName ) }}_PORT={{.Port}}
{{ lcfirst ( camelcase .ModuleName ) }}_API_KEYS=
{{ lcfirst ( camelcase .ModuleName ) }}_POLICY=
{{ lcfirst ( camelcase .ModuleName ) }}_OPA_SRV=
{{ lcfirst ( camelcase .ModuleName ) }}_REALM=
{{ lcfirst ( camelcase .ModuleName ) }}_CERT_PEM=
{{ lcfirst ( camelcase .ModuleName ) }}_KEY_PEM=
