// Edit this file, as it is a specific handler function for your service
package publishers

import (
	"{{ lcfirst ( camelcase .ModuleName ) }}/entities"
	"{{ lcfirst ( camelcase .ModuleName ) }}/core/log"
	"{{ lcfirst ( camelcase .ModuleName ) }}/async"

	"encoding/json"
	"fmt"

	"github.com/nats-io/nats.go"
)

{{ $Operation := .}}
{{ range .Messages }}
func {{ ucfirst ( camelcase $Operation.OperationName) }}(v entities.{{ ucfirst ( camelcase .MessageStructName ) }}) error {
	data, err := json.Marshal(v) // TODO adapt to contentType
	if err != nil {
	log.Debug().Any("{{ ucfirst ( camelcase .MessageStructName ) }}Object", data).Msg("Marshalling error in {{ ucfirst ( camelcase $Operation.OperationName) }}")
	return fmt.Errorf("Marshalling error")
	}

	return async.NC.Publish("{{ $Operation.ChannelName }}.{{ .MessageName }}", data)
}
{{ end }}
