{{ define "entity_regular" }}

type {{ ucfirst (camelcase .SchemaName) }} struct {
{{ template "structs" .TypeDefs }}
}

func (v *{{ ucfirst (camelcase .SchemaName) }}) Validate() error {
{{ template "validate" .TypeDefs }}
}

{{ end }}
