{{ define "entity_oneof" }}

{{ range $variant := .Variants }}
{{ if not $variant.IsRef }}

type {{ ucfirst (camelcase $variant.Name) }} struct {
{{ template "structs" $variant.Props }}
}

func (v *{{ ucfirst (camelcase $variant.Name) }}) Validate() error {
{{ template "validate" $variant.Props }}
}

{{ end }}
{{ end }}

{{/* Generate main struct with oneOf alternative types */}}
type {{ ucfirst (camelcase .SchemaName) }} struct {
{{ range $variant := .Variants }}
{{ if $variant.IsRef }}
	{{ ucfirst (camelcase $variant.RefTarget) }} `json:"{{ $variant.Name }}"`
{{ else }}
	{{ ucfirst (camelcase $variant.Name) }}
{{ end }}
{{ end }}
}

func (v *{{ ucfirst (camelcase .SchemaName) }}) Validate() error {
{{ range $variant := .Variants }}
{{ if $variant.IsRef }}
	if err := v.{{ ucfirst (camelcase $variant.RefTarget) }}.Validate(); err != nil {
		return err
	}
{{ else }}
	if err := v.{{ ucfirst (camelcase $variant.Name) }}.Validate(); err != nil {
		return err
	}
{{ end }}
{{ end }}
	return nil
}

{{ end }}
